# Java/Spring Boot
###################

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
############
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# IDEA
############
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
############
.vscode/

# Gradle
############
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files should be ignored by default).
!gradle-wrapper.jar

# Other
############
lib/
target/
bin/
.mvn/
!**/src/main/**/mvnw*
!**/src/main/**/mvnw.cmd

# Spring Boot specific
#######################
/target/
/out/
/build/
/*.war
/*.jar

# React/Node.js
#######################

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output directories
dist/
build/
coverage/

# Next.js
.next/

# Nuxt.js
.nuxt
dist

# Vuepress
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS IDE helper directory
.tern-port

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# gatsby files
.cache/

# Parcel-bundler cache
.cache, .parcel-cache

# Svelte
__sapper__/
public/

# VS Code
.vscode/

# Mac System files
#####################
.DS_Store

# Windows System files
#######################
Thumbs.db
ehthumbs.db

# Java/Maven
###################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# JetBrains
.idea/
*.iws
*.iml
*.ipr

# Windows
##################
# Windows image file caches
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of file
